[Unit]
Description=Mastodon Sidekiq
Requires=mastodon-migrate.service
After=mastodon-migrate.service

[Service]
User=mastodon
Group=mastodon
WorkingDirectory=/usr/share/mastodon

EnvironmentFile=/etc/mastodon/env
ExecStart=/usr/bin/bundle exec sidekiq

[Install]
WantedBy=multi-user.target
