[Unit]
Description=Mastodon Streaming Server

[Service]
User=mastodon
Group=mastodon
WorkingDirectory=/usr/share/mastodon

EnvironmentFile=/etc/mastodon/env
ExecStart=/usr/bin/node ./streaming

[Install]
WantedBy=multi-user.target
