[Unit]
Description=Mastodon Database Updates
Requires=postgresql-13.service
After=postgresql-13.service

[Service]
Type=oneshot
User=mastodon
Group=mastodon
WorkingDirectory=/usr/share/mastodon

EnvironmentFile=/etc/mastodon/env
ExecStart=/usr/bin/bundle exec rake db:migrate

[Install]
WantedBy=multi-user.target
