[Unit]
Description=Zookeeper Server

[Service]
User=zookeeper
Group=zookeeper
WorkingDirectory=/var/lib/zookeeper
ExecStart=/usr/bin/zookeeper /etc/zookeeper/zoo.cfg

[Install]
WantedBy=multi-user.target
