[Unit]
Description=Mesos Slave

[Service]
EnvironmentFile=-/etc/mesos/environment
ExecStart=/usr/sbin/mesos-slave

[Install]
WantedBy=multi-user.target
