[Service]
EnvironmentFile=/etc/kubernetes/environment
ExecStart=/usr/bin/kube-proxy --master=${KUBERNETES_MASTER} --cluster-cidr=${SERVICE_CLUSTER_IP_RANGE}

[Install]
WantedBy=default.target
