[Service]
EnvironmentFile=/etc/kubernetes/environment
ExecStart=/usr/bin/kube-scheduler --master=${KUBERNETES_MASTER}

[Install]
WantedBy=default.target
